.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    padding: 10px 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .cart-button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .back-button {
    margin-top: 10px;
    background-color: white;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  